# Force exact versions of dependencies (removes the ^ symbol)
# cspell:disable
save-exact=true

# Strictly enforce the Node and pnpm versions defined in package.json
engine-strict=true

# Keep the terminal output clean and fast during installs
loglevel=warn